:root {
  --echtedonerrunero-black: rgba(255, 255, 255, 1);
  --echtedonerrublack: rgba(0, 0, 0, 1);
  --echtedonerrucod-gray: rgba(13, 13, 13, 1);
  --echtedonerrumonza: rgba(40, 40, 40, 0.96);
  --echtedonerrutangerine: rgba(243, 144, 6, 1);
  --echtedonerrublack-russian: rgba(255, 0, 29, 0.79);
  --echtedonerrunero: rgba(225, 227, 230, 1);
  --echtedonerrumine-shaft: rgba(40, 40, 40, 1);
  --echtedonerruiron: rgba(225, 227, 230, 1);
  --echtedonerrugray: rgba(143, 143, 143, 1);
  --echtedonerruconcrete: rgba(243, 243, 243, 1);
  --echtedonerrudove-gray: rgba(100, 100, 100, 1);
  --echtedonerrunero-70: rgba(255, 255, 255, 0.7);
}
